<div class="body-container">  
  <h1>Deliveries</h1>
  <%= link_to "+ Record Delivery", new_item_path %>
  <table id="table">
    
    <% @items.each do |item| %>
    <tr>
      <td><a href="<%= item_path(item) %>"><p><%= item.quantity %> (<%= item.product_description %>) costing Php <%= item.cost %> has been delivered by <%= item.delivered_by %> <p><span><%= time_ago_in_words(item.created_at) %> ago</span></a></td>
      
    </tr>
    <% end %>
  </table>
</div>

