<%= form_with model: @transaction do |form| %>
    <div>
        <%= form.label :product_description %><br>
        <%= form.text_field :product_description %>
        <% @transaction.errors.full_messages_for(:product_description).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.label :quantity %><br>
        <%= form.number_field :quantity %><br>
        <% @transaction.errors.full_messages_for(:quantity).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.label :cost %><br>
        <%= form.number_field :cost %><br>
        <% @transaction.errors.full_messages_for(:cost).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.label :customer_name %><br>
        <%= form.text_field :customer_name %>
        <% @transaction.errors.full_messages_for(:customer_name).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.submit %>
    </div>
<% end %>